<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.active.fitody">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>


    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:name="com.active.fitody.FitodyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitoday">
        <activity
            android:name="com.active.fitody.ui.activity.IntroLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
        </activity>
        <activity
            android:name="com.active.fitody.ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.UserSignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.HomeDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.JumpingRopeSetTargetActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.JumpingRopeModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.FreeJumpModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.ConnectDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.SkipRopeTimerModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <activity
            android:name="com.active.fitody.ui.activity.UserWeightTargetActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Fitoday.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>